# ─────────────────────────────
# Python
# ─────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# ─────────────────────────────
# Entornos Virtuales
# ─────────────────────────────
venv/
env/
.venv/

# ─────────────────────────────
# Archivos de entorno / secretos
# ─────────────────────────────
.env
.env.*

# ─────────────────────────────
# Configuración del sistema / IDE
# ─────────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ─────────────────────────────
# Carpetas de __pycache__ en subcarpetas
# ─────────────────────────────
**/__pycache__/

# ─────────────────────────────
# Base de
